.modal-add-a-recipe {
  display: none; /*Hide the form by default */
  position: fixed; /* Fix the position of the form */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-add-a-recipe form {
  background-color: #fefefe;
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-add-a-recipe input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-add-a-recipe .title-and-close {
  display: flex;
  justify-content: space-between;
}

.modal-add-a-recipe .title-and-close .close {
  transition: transform 0.3s ease;
  height: 14px;
}

.modal-add-a-recipe .title-and-close .close:hover {
  transform: rotate(90deg);
}

.modal-add-a-recipe .container-ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-add-a-recipe .container-ingredients .ingredients {
  min-width: 100px;
}

.modal-add-a-recipe input[type="submit"] {
  background-color: #af564c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal-add-a-recipe input[type="submit"]:hover {
  opacity: 0.8;
}
.modal-add-a-recipe form:valid input[type="submit"] {
  /* Your styles for the submit button when the form is valid */
  background-color: #4caf50;
  color: white;
}
